body {
    background-color: #f4e0c9;
    font-family: 'Arial', sans-serif;
}

#items {
    width: 50%;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

#items {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    transition: transform 0.3s;
    transform: translateX(-80vh);
    z-index: 99;
}

#items:hover {
    transform: translateX(0) !important;
}

#fav_items {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    transition: transform 0.3s;
    transform: translateX(80vh);
    z-index: 99;
}

#fav_items:hover {
    transform: translateX(0) !important;
}

#characters {
position: fixed;
    width: 70%;
    left: 15%;
    top: 0;    
    height: 60vh;
    padding: 0;
    border: 0;
    outline: 0;
    transition: height 1s;
    z-index: 1;
}

.full_height{
    height: 100vh !important;
}

#user_box{
    position: fixed;
    width: 50%;
    left: 25%;
    bottom: 0;    
    height: 40vh;
    padding: 0;
    border: 0;
    outline: 0;
    transition: height 1s;
    z-index: 1;
}

.hidden {
    display: none;
}

input {
    padding: 3px;
    width: 150px;
    box-sizing: border-box;
    background-color: #ffc04c;
    border: 1px solid #ff8c00;
    border-radius: 5px;
}

input[type="number"] {
    width: 50px;
}

input:focus {
    outline: none;
    border-color: #ffdb4d;
}

button {
    background-color: #ff8c00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #836c13;
}

button:active {
    background-color: #ffaf4d;
}

#user_box{
    text-align: center;
}
